*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto; 
    padding: 0 2%;
}
html,body{
    height: 100%;
    
}

header{
    padding:20px 0;

}
body{
    display: flex;
    flex-direction: column;
}
.escudo{
    width:32%;

}
.menu1{
    width:32%;
    text-align: left;
    font-size: 2vh;
    padding-top: 50px;
    flex: 1 0 auto;
}
.menu1 a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right:50px;
    flex: 1 0 auto;
}
.menu2{
    width:32%;
    text-align: right;
    font-size: 2vh;
    padding-top: 50px;
    flex: 1 0 auto;
}
.menu2 a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    margin-right:50px;
    flex: 1 0 auto;
    width: 300px;
}
.titulo{
    width:62%;
    font-size: 2vh;
    padding-top: 20px;
    text-align: right;
    flex: 1 0 auto;
    
}
.titulo a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    margin-right:100px;
    flex: 1 0 auto;
}
.redesocial1{
   position: absolute;
   top: 161px;
   right:1300px;
   flex: 1 0 auto;
}
.redesocial2{
    position: absolute;
    top: 161px;
    right:570px;
    flex: 1 0 auto;
}
.tabela1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: white;
    width: 1400px;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 300px;
    flex: 1 0 auto;
}
.tabela2{
    background-color: #d7d7d7;
    width: 1400px;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1 0 auto;
}
.tabela3{
    background-color: white;
    width: 1400px;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1 0 auto;
}
.tabela4{
    background-color: #d7d7d7;
    width: 1400px;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1 0 auto;
}
.tabela5{
    background-color: white;
    width: 1400px;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1 0 auto;
}
.tabela6{
    background-color: #d7d7d7;
    width: 1400px;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1 0 auto;
}
.tabela7{
    background-color: white;
    width: 1400px;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1 0 auto;
}
.tabela8{
    background-color: #d7d7d7;
    width: 1400px;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1 0 auto;
}
.tabela9{
    background-color: white;
    width: 1400px;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1 0 auto;
}
.tabela10{
    background-color: #d7d7d7;
    width: 1400px;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1 0 auto;
}
.tabela11{
    background-color: white;
    width: 1400px;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1 0 auto;
}
.tabela12{
    background-color: #d7d7d7;
    width: 1400px;
    margin: 0 auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    flex: 1 0 auto;
}
footer{
    flex-shrink: 0;
    bottom: 0px;
    width: 100%;
    min-width: 600px;	
    color: white;
    padding-bottom: 20px;
    margin-left: -1px;
    margin-right:  15px;
    height: 250px;
    align-items:center;  
    display: flex;
    padding-top: 30px;  
    box-shadow: 0px 0 10px rgba(255, 255, 255, 0.8);
    justify-content: space-around;
    background-color: #03a9b1;
}
footer col1{
    flex-shrink: 0;
    min-width: 120px;	
    padding-top: 0px;	
    top: 0px;
    margin-bottom:  230px;
    width: 0px;
    padding-left: 5px;
    padding-right: 100px;
    height: 55px;
    display: inline-block;
    text-align: left;
    line-height: 55px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    position: flex; 
         
}
footer col2{
    flex-shrink: 0;
    min-width: 120px;	
    padding-top: 0px;	
    top: 1120px;
    margin-top: -180px;
    width: 300px;
    padding-left: 0px;
    padding-right: 40px;
    height: 55px;
    display: inline-block;
    text-align: left;
    line-height: 55px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    position: absolute; 
    
}
footer col4{
    flex-shrink: 0;
    text-align: center;
    min-width: 120px;	
    padding-top: 0px;	
    top: 50px;
    margin-bottom:  50px;
    width: 200px;
    padding-left: 1000px;
    padding-right: 150px;
    height: 55px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    position: absolute;  
}